.card__title {
  display: flex;
  background: white;
  margin: 0;
  border: 0;
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  justify-content: space-between;
  align-items: center;
}